pyTelegramBotAPI==4.27.0
python-dotenv==1.1.1
pydantic==2.11.7
apify-client==2.0.0
langchain-google-genai==2.1.8
langchain-core==0.3.70
schedule==1.2.2
newsapi-python==0.2.7
requests==2.32.4
pytz==2025.2